lichen-migration/src/main/resources/migrator-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="migrator" type="migratorType"/>
    <xs:complexType name="migratorType">
        <xs:sequence>
            <xs:element type="xs:string" name="driver_class" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:string" name="user_name" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:string" name="password" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:string" name="url" minOccurs="1" maxOccurs="1"/>
            <xs:element type="xs:string" name="package" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>