creeper/src/main/resources/creeper/core/config/CreeperCoreConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="dbType">
    <xs:sequence>
      <xs:element type="xs:string" name="driver_class" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="user_name" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="password" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="url" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="creeperCoreType">
    <xs:sequence>
      <xs:element type="dbType" name="db" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="creeper_core" type="creeperCoreType"/>
</xs:schema>